<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--1. 包扫描-->
    <dubbo:annotation package="com.auto"/>
    <!--2. 应用名称-->
    <dubbo:application name="web-admin"/>
    <!--3. 注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--4. 启动时不检查-->
    <dubbo:consumer check="false" timeout="6000"/>
</beans>