<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://mybatis.org/schema/mybatis-spring
       https://mybatis.org/schema/mybatis-spring.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启持久层  mapper注解-->
<!--    <context:component-scan base-package="com.auto"></context:component-scan>-->

    <!--加载application.properties文件-->
    <context:property-placeholder location="classpath:application.properties"></context:property-placeholder>
    <!--创建Druid数据源-->

    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${DriverClassName}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${name}"></property>
        <property name="password" value="${password}"></property>
    </bean>

    <!--创建sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"></property>
        <!--扫描pojo包，并使用别名，多个用;隔开-->
        <property name="typeAliasesPackage" value="${mybatis.type-aliases-package}"></property>
        <!--扫描sql配置文件:mapper需要的xml文件-->
        <property name="mapperLocations" value="${mybatis.mapper-location}"/>
        <!--驼峰映射配置-->
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <!--开启驼峰-->
                <property name="mapUnderscoreToCamelCase" value="true"></property>
                <!--开启主键自增-->
                <property name="useGeneratedKeys" value="true"></property>
            </bean>
        </property>

        <!--分页插件-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <!-- 设置 reasonable 为 true 表示将页码进行合理化修正。页码的有效范围：1~总页数 -->
                            <prop key="reasonable">true</prop>
                            <!-- 数据库方言：同样都是 SQL 语句，拿到不同数据库中，在语法上会有差异 -->
                            <!-- 默认情况下，按照 MySQL 作为数据库方言来运行 -->
                            <prop key="helperDialect">mysql</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>

    </bean>


    <!--配置MapperScannerConfigurer-->

<!--    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
<!--        <property name="basePackage" value="com.auto.mapper"></property>-->
<!--    </bean>-->
    <mybatis-spring:scan base-package="com.auto.mapper"></mybatis-spring:scan>

</beans>