<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.AclAdminRoleMapper">
    <!--根据用户id查询所有角色Id-->
    <select id="findRoleIdsByAdminId" resultType="AdminRole">
        SELECT role_id FROM acl_admin_role WHERE admin_id = #{adminId} AND is_deleted = 0
    </select>

    <select id="findRoleIdListByAdminId" resultType="long">
        SELECT role_id FROM acl_admin_role WHERE admin_id = #{adminId} AND is_deleted = 0
    </select>


    <delete id="deleteByAdminId">
        DELETE FROM acl_admin_role WHERE admin_id = #{adminId}
    </delete>

    <insert id="insertBatch">
        INSERT INTO acl_admin_role (admin_id,role_id) VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{adminId},#{roleId})
        </foreach>
    </insert>
</mapper>