<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.AclAdminMapper">

    <!--用户所有字段-->
    <sql id="Base_User_Filed">
        id , username , password , name , phone , head_url , description , create_time , update_time , is_deleted
    </sql>

    <!--用户分页条件-->
    <sql id="Page_Where">
        <where>
            <if test="username != null and username != ''">
                username LIKE CONCAT('%' , #{username} , '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone LIKE CONCAT(#{phone} , '%')
            </if>
            <if test="name != null and name != ''">
                and name LIKE CONCAT('%' , #{name} , '%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time > #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt; #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
    </sql>

    <!--根据分页条件  查询-->
    <select id="findPage" resultType="Admin">
        SELECT
        <include refid="Base_User_Filed"></include>
        FROM
        acl_admin
        <include refid="Page_Where"></include>
        order by create_time desc
    </select>

    <!--新增用户-->
    <insert id="insert">
        INSERT INTO acl_admin(username , password , name , phone)
        VALUES(#{username} , #{password} , #{name} , #{phone})
    </insert>

    <!--根据id查询用户  回显-->
    <select id="getById" resultType="Admin">
        SELECT
        <include refid="Base_User_Filed"></include>
        FROM
        acl_admin
        <where>
            <if test="_parameter != null and _parameter != ''">
                id = #{id}
            </if>
        </where>
    </select>

    <!--更新用户-->
    <update id="update">
        UPDATE
        acl_admin
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="headUrl != null and headUrl != ''">
                head_url = #{headUrl},
            </if>
        </set>
        WHERE id = #{id}
        AND
        is_deleted = 0
    </update>

    <!--删除用户-->
    <update id="delete">
        UPDATE acl_admin
        <set>
            is_deleted = 1
        </set>
        WHERE id = #{id}
    </update>

    <!--查询不是改房源的经纪人列表-->
    <select id="findNotAdminListByHouseId" resultType="Admin">
        SELECT
        <include refid="Base_User_Filed"></include>
        FROM acl_admin
        WHERE
        id NOT IN (SELECT broker_id FROM hse_house_broker WHERE house_id = #{houseId} and is_deleted = 0)
        and is_deleted = 0
    </select>

</mapper>