<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.AclPermissionMapper">

    <!--查找所有sql-->
    <sql id="columns">
        id, parent_id, name, url, code, type, sort, create_time, update_time, is_deleted
    </sql>
    <!--根据用户id查询权限列表-->
    <select id="findPermissionListByAdminId" resultType="Permission">
        SELECT
        DISTINCT
        ap.id,ap.parent_id,ap.name,ap.url,ap.code,ap.type,ap.sort,ap.create_time,ap.update_time,ap.is_deleted
        FROM
        acl_admin_role aar
        LEFT JOIN
        acl_role_permission arp
        ON
        aar.role_id = arp.role_id
        LEFT JOIN
        acl_permission ap
        ON
        arp.permission_id = ap.id
        WHERE
        aar.admin_id = #{adminId}
        AND aar.is_deleted = 0
        AND arp.is_deleted = 0
        AND ap.is_deleted = 0
    </select>
    <!--

            IN
        (SELECT permission_id FROM acl_role_permission WHERE role_id IN
        (SELECT role_id FROM acl_admin_role WHERE admin_id = #{adminId} AND is_deleted = 0) AND is_deleted = 0)
        AND
        ap.is_deleted = 0
        AND
        arp.is_deleted = 0
        AND
        adr.is_deleted = 0

    -->

    <!--查找所有-->
    <select id="findAll" resultType="Permission">
        SELECT
        <include refid="columns"></include>
        FROM
        acl_permission
        WHERE
        is_deleted = 0
    </select>
</mapper>