<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--包扫描-->

    <!--导入spring-persist-->
    <!--    <import resource="classpath:spring/spring-persist.xml"></import>-->

    <!--开启事务注解-->
    <!--注意开启事务时，要加interfaceClass 因为事务运行用的是代理类-->
    <!--
    开启事务控制的注解支持
    注意：此处必须加入proxy-target-class="true"，
          需要进行事务控制，会由Spring框架产生代理对象，
          Dubbo需要将Service发布为服务，要求必须使用cglib创建代理对象。
    -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"></tx:annotation-driven>
    <!--配置事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"></property>
    </bean>

</beans>