<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--开启dubbo 注解扫描-->
    <!--扫描指定包  加service注解的类会被发布为服务-->
    <dubbo:annotation package="com.auto"></dubbo:annotation>
    <!--配置当前应用名称-->
    <dubbo:application name="service-community"></dubbo:application>
    <!--连接服务注册中心 ， zookeeper的id地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
    <!--注册协议 和port端口 ，默认是20880-->
    <dubbo:protocol name="dubbo" port="20882"></dubbo:protocol>
</beans>