<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.HouseBrokerMapper">
    <sql id="columns">
        id,
        house_id,
        broker_id,
        broker_name,
        broker_head_url,
        create_time,
        update_time,
        is_deleted
    </sql>
    <!--根据房源id查询经纪人-->
    <select id="findHouseBrokerList" resultType="HouseBroker">
        SELECT
        <include refid="columns"></include>
        FROM
        hse_house_broker
        WHERE
        house_id = #{houseId}
        AND
        is_deleted = 0
    </select>
</mapper>